@font-face {
  font-family: 'Milingona';
  src:  url('../fonts/Milingona.eot?60z3hu');
  src:  url('../fonts/Milingona.eot?60z3hu#iefix') format('embedded-opentype'),
    url('../fonts/Milingona.ttf?60z3hu') format('truetype'),
    url('../fonts/Milingona.woff?60z3hu') format('woff'),
    url('../fonts/Milingona.svg?60z3hu#Milingona') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vu_fm-"], [class*=" vu_fm-"] {
  font-family: 'Milingona' !important;
  display: inline-block;
  transform: translateY(2px);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vu_fm-3d_rotation:before { content: "\e84d"; }
.vu_fm-ac_unit:before { content: "\eb3b"; }
.vu_fm-alarm:before { content: "\e855"; }
.vu_fm-access_alarms:before { content: "\e191"; }
.vu_fm-schedule:before { content: "\e8b5"; }
.vu_fm-accessibility:before { content: "\e84e"; }
.vu_fm-accessible:before { content: "\e914"; }
.vu_fm-account_balance:before { content: "\e84f"; }
.vu_fm-account_balance_wallet:before { content: "\e850"; }
.vu_fm-account_box:before { content: "\e851"; }
.vu_fm-account_circle:before { content: "\e853"; }
.vu_fm-adb:before { content: "\e60e"; }
.vu_fm-add:before { content: "\e145"; }
.vu_fm-add_a_photo:before { content: "\e439"; }
.vu_fm-alarm_add:before { content: "\e856"; }
.vu_fm-add_alert:before { content: "\e003"; }
.vu_fm-add_box:before { content: "\e146"; }
.vu_fm-add_circle:before { content: "\e147"; }
.vu_fm-control_point:before { content: "\e3ba"; }
.vu_fm-add_location:before { content: "\e567"; }
.vu_fm-add_shopping_cart:before { content: "\e854"; }
.vu_fm-queue:before { content: "\e03c"; }
.vu_fm-add_to_queue:before { content: "\e05c"; }
.vu_fm-adjust:before { content: "\e39e"; }
.vu_fm-airline_seat_flat:before { content: "\e630"; }
.vu_fm-airline_seat_flat_angled:before { content: "\e631"; }
.vu_fm-airline_seat_individual_suite:before { content: "\e632"; }
.vu_fm-airline_seat_legroom_extra:before { content: "\e633"; }
.vu_fm-airline_seat_legroom_normal:before { content: "\e634"; }
.vu_fm-airline_seat_legroom_reduced:before { content: "\e635"; }
.vu_fm-airline_seat_recline_extra:before { content: "\e636"; }
.vu_fm-airline_seat_recline_normal:before { content: "\e637"; }
.vu_fm-flight:before { content: "\e539"; }
.vu_fm-airplanemode_inactive:before { content: "\e194"; }
.vu_fm-airplay:before { content: "\e055"; }
.vu_fm-airport_shuttle:before { content: "\eb3c"; }
.vu_fm-alarm_off:before { content: "\e857"; }
.vu_fm-alarm_on:before { content: "\e858"; }
.vu_fm-album:before { content: "\e019"; }
.vu_fm-all_inclusive:before { content: "\eb3d"; }
.vu_fm-all_out:before { content: "\e90b"; }
.vu_fm-android:before { content: "\e859"; }
.vu_fm-announcement:before { content: "\e85a"; }
.vu_fm-apps:before { content: "\e5c3"; }
.vu_fm-archive:before { content: "\e149"; }
.vu_fm-arrow_back:before { content: "\e5c4"; }
.vu_fm-arrow_downward:before { content: "\e5db"; }
.vu_fm-arrow_drop_down:before { content: "\e5c5"; }
.vu_fm-arrow_drop_down_circle:before { content: "\e5c6"; }
.vu_fm-arrow_drop_up:before { content: "\e5c7"; }
.vu_fm-arrow_forward:before { content: "\e5c8"; }
.vu_fm-arrow_upward:before { content: "\e5d8"; }
.vu_fm-art_track:before { content: "\e060"; }
.vu_fm-aspect_ratio:before { content: "\e85b"; }
.vu_fm-poll:before { content: "\e801"; }
.vu_fm-assignment:before { content: "\e85d"; }
.vu_fm-assignment_ind:before { content: "\e85e"; }
.vu_fm-assignment_late:before { content: "\e85f"; }
.vu_fm-assignment_return:before { content: "\e860"; }
.vu_fm-assignment_returned:before { content: "\e861"; }
.vu_fm-assignment_turned_in:before { content: "\e862"; }
.vu_fm-assistant:before { content: "\e39f"; }
.vu_fm-flag:before { content: "\e153"; }
.vu_fm-attach_file:before { content: "\e226"; }
.vu_fm-attach_money:before { content: "\e227"; }
.vu_fm-attachment:before { content: "\e2bc"; }
.vu_fm-audiotrack:before { content: "\e3a1"; }
.vu_fm-autorenew:before { content: "\e863"; }
.vu_fm-av_timer:before { content: "\e01b"; }
.vu_fm-backspace:before { content: "\e14a"; }
.vu_fm-cloud_upload:before { content: "\e2c3"; }
.vu_fm-battery_alert:before { content: "\e19c"; }
.vu_fm-battery_charging_full:before { content: "\e1a3"; }
.vu_fm-battery_std:before { content: "\e1a5"; }
.vu_fm-battery_unknown:before { content: "\e1a6"; }
.vu_fm-beach_access:before { content: "\eb3e"; }
.vu_fm-beenhere:before { content: "\e52d"; }
.vu_fm-block:before { content: "\e14b"; }
.vu_fm-bluetooth:before { content: "\e1a7"; }
.vu_fm-bluetooth_searching:before { content: "\e1aa"; }
.vu_fm-bluetooth_connected:before { content: "\e1a8"; }
.vu_fm-bluetooth_disabled:before { content: "\e1a9"; }
.vu_fm-blur_circular:before { content: "\e3a2"; }
.vu_fm-blur_linear:before { content: "\e3a3"; }
.vu_fm-blur_off:before { content: "\e3a4"; }
.vu_fm-blur_on:before { content: "\e3a5"; }
.vu_fm-class:before { content: "\e86e"; }
.vu_fm-turned_in:before { content: "\e8e6"; }
.vu_fm-turned_in_not:before { content: "\e8e7"; }
.vu_fm-border_all:before { content: "\e228"; }
.vu_fm-border_bottom:before { content: "\e229"; }
.vu_fm-border_clear:before { content: "\e22a"; }
.vu_fm-border_color:before { content: "\e22b"; }
.vu_fm-border_horizontal:before { content: "\e22c"; }
.vu_fm-border_inner:before { content: "\e22d"; }
.vu_fm-border_left:before { content: "\e22e"; }
.vu_fm-border_outer:before { content: "\e22f"; }
.vu_fm-border_right:before { content: "\e230"; }
.vu_fm-border_style:before { content: "\e231"; }
.vu_fm-border_top:before { content: "\e232"; }
.vu_fm-border_vertical:before { content: "\e233"; }
.vu_fm-branding_watermark:before { content: "\e06b"; }
.vu_fm-brightness_1:before { content: "\e3a6"; }
.vu_fm-brightness_2:before { content: "\e3a7"; }
.vu_fm-brightness_3:before { content: "\e3a8"; }
.vu_fm-brightness_4:before { content: "\e3a9"; }
.vu_fm-brightness_low:before { content: "\e1ad"; }
.vu_fm-brightness_medium:before { content: "\e1ae"; }
.vu_fm-brightness_high:before { content: "\e1ac"; }
.vu_fm-brightness_auto:before { content: "\e1ab"; }
.vu_fm-broken_image:before { content: "\e3ad"; }
.vu_fm-brush:before { content: "\e3ae"; }
.vu_fm-bubble_chart:before { content: "\e6dd"; }
.vu_fm-bug_report:before { content: "\e868"; }
.vu_fm-build:before { content: "\e869"; }
.vu_fm-burst_mode:before { content: "\e43c"; }
.vu_fm-domain:before { content: "\e7ee"; }
.vu_fm-business_center:before { content: "\eb3f"; }
.vu_fm-cached:before { content: "\e86a"; }
.vu_fm-cake:before { content: "\e7e9"; }
.vu_fm-phone:before { content: "\e0cd"; }
.vu_fm-call_end:before { content: "\e0b1"; }
.vu_fm-call_made:before { content: "\e0b2"; }
.vu_fm-merge_type:before { content: "\e252"; }
.vu_fm-call_missed:before { content: "\e0b4"; }
.vu_fm-call_missed_outgoing:before { content: "\e0e4"; }
.vu_fm-call_received:before { content: "\e0b5"; }
.vu_fm-call_split:before { content: "\e0b6"; }
.vu_fm-call_to_action:before { content: "\e06c"; }
.vu_fm-camera:before { content: "\e3af"; }
.vu_fm-photo_camera:before { content: "\e412"; }
.vu_fm-camera_enhance:before { content: "\e8fc"; }
.vu_fm-camera_front:before { content: "\e3b1"; }
.vu_fm-camera_rear:before { content: "\e3b2"; }
.vu_fm-camera_roll:before { content: "\e3b3"; }
.vu_fm-cancel:before { content: "\e5c9"; }
.vu_fm-redeem:before { content: "\e8b1"; }
.vu_fm-card_membership:before { content: "\e8f7"; }
.vu_fm-card_travel:before { content: "\e8f8"; }
.vu_fm-casino:before { content: "\eb40"; }
.vu_fm-cast:before { content: "\e307"; }
.vu_fm-cast_connected:before { content: "\e308"; }
.vu_fm-center_focus_strong:before { content: "\e3b4"; }
.vu_fm-center_focus_weak:before { content: "\e3b5"; }
.vu_fm-change_history:before { content: "\e86b"; }
.vu_fm-chat:before { content: "\e0b7"; }
.vu_fm-chat_bubble:before { content: "\e0ca"; }
.vu_fm-chat_bubble_outline:before { content: "\e0cb"; }
.vu_fm-check:before { content: "\e5ca"; }
.vu_fm-check_box:before { content: "\e834"; }
.vu_fm-check_box_outline_blank:before { content: "\e835"; }
.vu_fm-check_circle:before { content: "\e86c"; }
.vu_fm-navigate_before:before { content: "\e408"; }
.vu_fm-navigate_next:before { content: "\e409"; }
.vu_fm-child_care:before { content: "\eb41"; }
.vu_fm-child_friendly:before { content: "\eb42"; }
.vu_fm-chrome_reader_mode:before { content: "\e86d"; }
.vu_fm-close:before { content: "\e5cd"; }
.vu_fm-clear_all:before { content: "\e0b8"; }
.vu_fm-closed_caption:before { content: "\e01c"; }
.vu_fm-wb_cloudy:before { content: "\e42d"; }
.vu_fm-cloud_circle:before { content: "\e2be"; }
.vu_fm-cloud_done:before { content: "\e2bf"; }
.vu_fm-cloud_download:before { content: "\e2c0"; }
.vu_fm-cloud_off:before { content: "\e2c1"; }
.vu_fm-cloud_queue:before { content: "\e2c2"; }
.vu_fm-code:before { content: "\e86f"; }
.vu_fm-photo_library:before { content: "\e413"; }
.vu_fm-collections_bookmark:before { content: "\e431"; }
.vu_fm-palette:before { content: "\e40a"; }
.vu_fm-colorize:before { content: "\e3b8"; }
.vu_fm-comment:before { content: "\e0b9"; }
.vu_fm-compare:before { content: "\e3b9"; }
.vu_fm-compare_arrows:before { content: "\e915"; }
.vu_fm-laptop:before { content: "\e31e"; }
.vu_fm-confirmation_number:before { content: "\e638"; }
.vu_fm-contact_mail:before { content: "\e0d0"; }
.vu_fm-contact_phone:before { content: "\e0cf"; }
.vu_fm-contacts:before { content: "\e0ba"; }
.vu_fm-content_copy:before { content: "\e14d"; }
.vu_fm-content_cut:before { content: "\e14e"; }
.vu_fm-content_paste:before { content: "\e14f"; }
.vu_fm-control_point_duplicate:before { content: "\e3bb"; }
.vu_fm-copyright:before { content: "\e90c"; }
.vu_fm-mode_edit:before { content: "\e254"; }
.vu_fm-create_new_folder:before { content: "\e2cc"; }
.vu_fm-payment:before { content: "\e8a1"; }
.vu_fm-crop:before { content: "\e3be"; }
.vu_fm-crop_16_9:before { content: "\e3bc"; }
.vu_fm-crop_3_2:before { content: "\e3bd"; }
.vu_fm-crop_landscape:before { content: "\e3c3"; }
.vu_fm-crop_7_5:before { content: "\e3c0"; }
.vu_fm-crop_din:before { content: "\e3c1"; }
.vu_fm-crop_free:before { content: "\e3c2"; }
.vu_fm-crop_original:before { content: "\e3c4"; }
.vu_fm-crop_portrait:before { content: "\e3c5"; }
.vu_fm-crop_rotate:before { content: "\e437"; }
.vu_fm-crop_square:before { content: "\e3c6"; }
.vu_fm-dashboard:before { content: "\e871"; }
.vu_fm-data_usage:before { content: "\e1af"; }
.vu_fm-date_range:before { content: "\e916"; }
.vu_fm-dehaze:before { content: "\e3c7"; }
.vu_fm-delete:before { content: "\e872"; }
.vu_fm-delete_forever:before { content: "\e92b"; }
.vu_fm-delete_sweep:before { content: "\e16c"; }
.vu_fm-description:before { content: "\e873"; }
.vu_fm-desktop_mac:before { content: "\e30b"; }
.vu_fm-desktop_windows:before { content: "\e30c"; }
.vu_fm-details:before { content: "\e3c8"; }
.vu_fm-developer_board:before { content: "\e30d"; }
.vu_fm-developer_mode:before { content: "\e1b0"; }
.vu_fm-device_hub:before { content: "\e335"; }
.vu_fm-phonelink:before { content: "\e326"; }
.vu_fm-devices_other:before { content: "\e337"; }
.vu_fm-dialer_sip:before { content: "\e0bb"; }
.vu_fm-dialpad:before { content: "\e0bc"; }
.vu_fm-directions:before { content: "\e52e"; }
.vu_fm-directions_bike:before { content: "\e52f"; }
.vu_fm-directions_boat:before { content: "\e532"; }
.vu_fm-directions_bus:before { content: "\e530"; }
.vu_fm-directions_car:before { content: "\e531"; }
.vu_fm-directions_railway:before { content: "\e534"; }
.vu_fm-directions_run:before { content: "\e566"; }
.vu_fm-directions_transit:before { content: "\e535"; }
.vu_fm-directions_walk:before { content: "\e536"; }
.vu_fm-disc_full:before { content: "\e610"; }
.vu_fm-dns:before { content: "\e875"; }
.vu_fm-not_interested:before { content: "\e033"; }
.vu_fm-do_not_disturb_alt:before { content: "\e611"; }
.vu_fm-do_not_disturb_off:before { content: "\e643"; }
.vu_fm-remove_circle:before { content: "\e15c"; }
.vu_fm-dock:before { content: "\e30e"; }
.vu_fm-done:before { content: "\e876"; }
.vu_fm-done_all:before { content: "\e877"; }
.vu_fm-donut_large:before { content: "\e917"; }
.vu_fm-donut_small:before { content: "\e918"; }
.vu_fm-drafts:before { content: "\e151"; }
.vu_fm-drag_handle:before { content: "\e25d"; }
.vu_fm-time_to_leave:before { content: "\e62c"; }
.vu_fm-dvr:before { content: "\e1b2"; }
.vu_fm-edit_location:before { content: "\e568"; }
.vu_fm-eject:before { content: "\e8fb"; }
.vu_fm-markunread:before { content: "\e159"; }
.vu_fm-enhanced_encryption:before { content: "\e63f"; }
.vu_fm-equalizer:before { content: "\e01d"; }
.vu_fm-error:before { content: "\e000"; }
.vu_fm-error_outline:before { content: "\e001"; }
.vu_fm-euro_symbol:before { content: "\e926"; }
.vu_fm-ev_station:before { content: "\e56d"; }
.vu_fm-insert_invitation:before { content: "\e24f"; }
.vu_fm-event_available:before { content: "\e614"; }
.vu_fm-event_busy:before { content: "\e615"; }
.vu_fm-event_note:before { content: "\e616"; }
.vu_fm-event_seat:before { content: "\e903"; }
.vu_fm-exit_to_app:before { content: "\e879"; }
.vu_fm-expand_less:before { content: "\e5ce"; }
.vu_fm-expand_more:before { content: "\e5cf"; }
.vu_fm-explicit:before { content: "\e01e"; }
.vu_fm-explore:before { content: "\e87a"; }
.vu_fm-exposure:before { content: "\e3ca"; }
.vu_fm-exposure_neg_1:before { content: "\e3cb"; }
.vu_fm-exposure_neg_2:before { content: "\e3cc"; }
.vu_fm-exposure_plus_1:before { content: "\e3cd"; }
.vu_fm-exposure_plus_2:before { content: "\e3ce"; }
.vu_fm-exposure_zero:before { content: "\e3cf"; }
.vu_fm-extension:before { content: "\e87b"; }
.vu_fm-face:before { content: "\e87c"; }
.vu_fm-fast_forward:before { content: "\e01f"; }
.vu_fm-fast_rewind:before { content: "\e020"; }
.vu_fm-favorite:before { content: "\e87d"; }
.vu_fm-favorite_border:before { content: "\e87e"; }
.vu_fm-featured_play_list:before { content: "\e06d"; }
.vu_fm-featured_video:before { content: "\e06e"; }
.vu_fm-sms_failed:before { content: "\e626"; }
.vu_fm-fiber_dvr:before { content: "\e05d"; }
.vu_fm-fiber_manual_record:before { content: "\e061"; }
.vu_fm-fiber_new:before { content: "\e05e"; }
.vu_fm-fiber_pin:before { content: "\e06a"; }
.vu_fm-fiber_smart_record:before { content: "\e062"; }
.vu_fm-get_app:before { content: "\e884"; }
.vu_fm-file_upload:before { content: "\e2c6"; }
.vu_fm-filter:before { content: "\e3d3"; }
.vu_fm-filter_1:before { content: "\e3d0"; }
.vu_fm-filter_2:before { content: "\e3d1"; }
.vu_fm-filter_3:before { content: "\e3d2"; }
.vu_fm-filter_4:before { content: "\e3d4"; }
.vu_fm-filter_5:before { content: "\e3d5"; }
.vu_fm-filter_6:before { content: "\e3d6"; }
.vu_fm-filter_7:before { content: "\e3d7"; }
.vu_fm-filter_8:before { content: "\e3d8"; }
.vu_fm-filter_9:before { content: "\e3d9"; }
.vu_fm-filter_9_plus:before { content: "\e3da"; }
.vu_fm-filter_b_and_w:before { content: "\e3db"; }
.vu_fm-filter_center_focus:before { content: "\e3dc"; }
.vu_fm-filter_drama:before { content: "\e3dd"; }
.vu_fm-filter_frames:before { content: "\e3de"; }
.vu_fm-terrain:before { content: "\e564"; }
.vu_fm-filter_list:before { content: "\e152"; }
.vu_fm-filter_none:before { content: "\e3e0"; }
.vu_fm-filter_tilt_shift:before { content: "\e3e2"; }
.vu_fm-filter_vintage:before { content: "\e3e3"; }
.vu_fm-find_in_page:before { content: "\e880"; }
.vu_fm-find_replace:before { content: "\e881"; }
.vu_fm-fingerprint:before { content: "\e90d"; }
.vu_fm-first_page:before { content: "\e5dc"; }
.vu_fm-fitness_center:before { content: "\eb43"; }
.vu_fm-flare:before { content: "\e3e4"; }
.vu_fm-flash_auto:before { content: "\e3e5"; }
.vu_fm-flash_off:before { content: "\e3e6"; }
.vu_fm-flash_on:before { content: "\e3e7"; }
.vu_fm-flight_land:before { content: "\e904"; }
.vu_fm-flight_takeoff:before { content: "\e905"; }
.vu_fm-flip:before { content: "\e3e8"; }
.vu_fm-flip_to_back:before { content: "\e882"; }
.vu_fm-flip_to_front:before { content: "\e883"; }
.vu_fm-folder:before { content: "\e2c7"; }
.vu_fm-folder_open:before { content: "\e2c8"; }
.vu_fm-folder_shared:before { content: "\e2c9"; }
.vu_fm-folder_special:before { content: "\e617"; }
.vu_fm-font_download:before { content: "\e167"; }
.vu_fm-format_align_center:before { content: "\e234"; }
.vu_fm-format_align_justify:before { content: "\e235"; }
.vu_fm-format_align_left:before { content: "\e236"; }
.vu_fm-format_align_right:before { content: "\e237"; }
.vu_fm-format_bold:before { content: "\e238"; }
.vu_fm-format_clear:before { content: "\e239"; }
.vu_fm-format_color_fill:before { content: "\e23a"; }
.vu_fm-format_color_reset:before { content: "\e23b"; }
.vu_fm-format_color_text:before { content: "\e23c"; }
.vu_fm-format_indent_decrease:before { content: "\e23d"; }
.vu_fm-format_indent_increase:before { content: "\e23e"; }
.vu_fm-format_italic:before { content: "\e23f"; }
.vu_fm-format_line_spacing:before { content: "\e240"; }
.vu_fm-format_list_bulleted:before { content: "\e241"; }
.vu_fm-format_list_numbered:before { content: "\e242"; }
.vu_fm-format_paint:before { content: "\e243"; }
.vu_fm-format_quote:before { content: "\e244"; }
.vu_fm-format_shapes:before { content: "\e25e"; }
.vu_fm-format_size:before { content: "\e245"; }
.vu_fm-format_strikethrough:before { content: "\e246"; }
.vu_fm-format_textdirection_l_to_r:before { content: "\e247"; }
.vu_fm-format_textdirection_r_to_l:before { content: "\e248"; }
.vu_fm-format_underlined:before { content: "\e249"; }
.vu_fm-question_answer:before { content: "\e8af"; }
.vu_fm-forward:before { content: "\e154"; }
.vu_fm-forward_10:before { content: "\e056"; }
.vu_fm-forward_30:before { content: "\e057"; }
.vu_fm-forward_5:before { content: "\e058"; }
.vu_fm-free_breakfast:before { content: "\eb44"; }
.vu_fm-fullscreen:before { content: "\e5d0"; }
.vu_fm-fullscreen_exit:before { content: "\e5d1"; }
.vu_fm-functions:before { content: "\e24a"; }
.vu_fm-g_translate:before { content: "\e927"; }
.vu_fm-games:before { content: "\e021"; }
.vu_fm-gavel:before { content: "\e90e"; }
.vu_fm-gesture:before { content: "\e155"; }
.vu_fm-gif:before { content: "\e908"; }
.vu_fm-goat:before { content: "\e900"; }
.vu_fm-golf_course:before { content: "\eb45"; }
.vu_fm-my_location:before { content: "\e55c"; }
.vu_fm-location_searching:before { content: "\e1b7"; }
.vu_fm-location_disabled:before { content: "\e1b6"; }
.vu_fm-star:before { content: "\e838"; }
.vu_fm-gradient:before { content: "\e3e9"; }
.vu_fm-grain:before { content: "\e3ea"; }
.vu_fm-graphic_eq:before { content: "\e1b8"; }
.vu_fm-grid_off:before { content: "\e3eb"; }
.vu_fm-grid_on:before { content: "\e3ec"; }
.vu_fm-people:before { content: "\e7fb"; }
.vu_fm-group_add:before { content: "\e7f0"; }
.vu_fm-group_work:before { content: "\e886"; }
.vu_fm-hd:before { content: "\e052"; }
.vu_fm-hdr_off:before { content: "\e3ed"; }
.vu_fm-hdr_on:before { content: "\e3ee"; }
.vu_fm-hdr_strong:before { content: "\e3f1"; }
.vu_fm-hdr_weak:before { content: "\e3f2"; }
.vu_fm-headset:before { content: "\e310"; }
.vu_fm-headset_mic:before { content: "\e311"; }
.vu_fm-healing:before { content: "\e3f3"; }
.vu_fm-hearing:before { content: "\e023"; }
.vu_fm-help:before { content: "\e887"; }
.vu_fm-help_outline:before { content: "\e8fd"; }
.vu_fm-high_quality:before { content: "\e024"; }
.vu_fm-highlight:before { content: "\e25f"; }
.vu_fm-highlight_off:before { content: "\e888"; }
.vu_fm-restore:before { content: "\e8b3"; }
.vu_fm-home:before { content: "\e88a"; }
.vu_fm-hot_tub:before { content: "\eb46"; }
.vu_fm-local_hotel:before { content: "\e549"; }
.vu_fm-hourglass_empty:before { content: "\e88b"; }
.vu_fm-hourglass_full:before { content: "\e88c"; }
.vu_fm-http:before { content: "\e902"; }
.vu_fm-lock:before { content: "\e897"; }
.vu_fm-photo:before { content: "\e410"; }
.vu_fm-image_aspect_ratio:before { content: "\e3f5"; }
.vu_fm-import_contacts:before { content: "\e0e0"; }
.vu_fm-import_export:before { content: "\e0c3"; }
.vu_fm-important_devices:before { content: "\e912"; }
.vu_fm-inbox:before { content: "\e156"; }
.vu_fm-indeterminate_check_box:before { content: "\e909"; }
.vu_fm-info:before { content: "\e88e"; }
.vu_fm-info_outline:before { content: "\e88f"; }
.vu_fm-input:before { content: "\e890"; }
.vu_fm-insert_comment:before { content: "\e24c"; }
.vu_fm-insert_drive_file:before { content: "\e24d"; }
.vu_fm-tag_faces:before { content: "\e420"; }
.vu_fm-link:before { content: "\e157"; }
.vu_fm-invert_colors:before { content: "\e891"; }
.vu_fm-invert_colors_off:before { content: "\e0c4"; }
.vu_fm-iso:before { content: "\e3f6"; }
.vu_fm-keyboard:before { content: "\e312"; }
.vu_fm-keyboard_arrow_down:before { content: "\e313"; }
.vu_fm-keyboard_arrow_left:before { content: "\e314"; }
.vu_fm-keyboard_arrow_right:before { content: "\e315"; }
.vu_fm-keyboard_arrow_up:before { content: "\e316"; }
.vu_fm-keyboard_backspace:before { content: "\e317"; }
.vu_fm-keyboard_capslock:before { content: "\e318"; }
.vu_fm-keyboard_hide:before { content: "\e31a"; }
.vu_fm-keyboard_return:before { content: "\e31b"; }
.vu_fm-keyboard_tab:before { content: "\e31c"; }
.vu_fm-keyboard_voice:before { content: "\e31d"; }
.vu_fm-kitchen:before { content: "\eb47"; }
.vu_fm-label:before { content: "\e892"; }
.vu_fm-label_outline:before { content: "\e893"; }
.vu_fm-language:before { content: "\e894"; }
.vu_fm-laptop_chromebook:before { content: "\e31f"; }
.vu_fm-laptop_mac:before { content: "\e320"; }
.vu_fm-laptop_windows:before { content: "\e321"; }
.vu_fm-last_page:before { content: "\e5dd"; }
.vu_fm-open_in_new:before { content: "\e89e"; }
.vu_fm-layers:before { content: "\e53b"; }
.vu_fm-layers_clear:before { content: "\e53c"; }
.vu_fm-leak_add:before { content: "\e3f8"; }
.vu_fm-leak_remove:before { content: "\e3f9"; }
.vu_fm-lens:before { content: "\e3fa"; }
.vu_fm-library_books:before { content: "\e02f"; }
.vu_fm-library_music:before { content: "\e030"; }
.vu_fm-lightbulb_outline:before { content: "\e90f"; }
.vu_fm-line_style:before { content: "\e919"; }
.vu_fm-line_weight:before { content: "\e91a"; }
.vu_fm-linear_scale:before { content: "\e260"; }
.vu_fm-linked_camera:before { content: "\e438"; }
.vu_fm-list:before { content: "\e896"; }
.vu_fm-live_help:before { content: "\e0c6"; }
.vu_fm-live_tv:before { content: "\e639"; }
.vu_fm-local_play:before { content: "\e553"; }
.vu_fm-local_airport:before { content: "\e53d"; }
.vu_fm-local_atm:before { content: "\e53e"; }
.vu_fm-local_bar:before { content: "\e540"; }
.vu_fm-local_cafe:before { content: "\e541"; }
.vu_fm-local_car_wash:before { content: "\e542"; }
.vu_fm-local_convenience_store:before { content: "\e543"; }
.vu_fm-restaurant_menu:before { content: "\e561"; }
.vu_fm-local_drink:before { content: "\e544"; }
.vu_fm-local_florist:before { content: "\e545"; }
.vu_fm-local_gas_station:before { content: "\e546"; }
.vu_fm-shopping_cart:before { content: "\e8cc"; }
.vu_fm-local_hospital:before { content: "\e548"; }
.vu_fm-local_laundry_service:before { content: "\e54a"; }
.vu_fm-local_library:before { content: "\e54b"; }
.vu_fm-local_mall:before { content: "\e54c"; }
.vu_fm-theaters:before { content: "\e8da"; }
.vu_fm-local_offer:before { content: "\e54e"; }
.vu_fm-local_parking:before { content: "\e54f"; }
.vu_fm-local_pharmacy:before { content: "\e550"; }
.vu_fm-local_pizza:before { content: "\e552"; }
.vu_fm-print:before { content: "\e8ad"; }
.vu_fm-local_shipping:before { content: "\e558"; }
.vu_fm-local_taxi:before { content: "\e559"; }
.vu_fm-location_city:before { content: "\e7f1"; }
.vu_fm-location_off:before { content: "\e0c7"; }
.vu_fm-room:before { content: "\e8b4"; }
.vu_fm-lock_open:before { content: "\e898"; }
.vu_fm-lock_outline:before { content: "\e899"; }
.vu_fm-looks:before { content: "\e3fc"; }
.vu_fm-looks_3:before { content: "\e3fb"; }
.vu_fm-looks_4:before { content: "\e3fd"; }
.vu_fm-looks_5:before { content: "\e3fe"; }
.vu_fm-looks_6:before { content: "\e3ff"; }
.vu_fm-looks_one:before { content: "\e400"; }
.vu_fm-looks_two:before { content: "\e401"; }
.vu_fm-sync:before { content: "\e627"; }
.vu_fm-loupe:before { content: "\e402"; }
.vu_fm-low_priority:before { content: "\e16d"; }
.vu_fm-loyalty:before { content: "\e89a"; }
.vu_fm-mail_outline:before { content: "\e0e1"; }
.vu_fm-map:before { content: "\e55b"; }
.vu_fm-markunread_mailbox:before { content: "\e89b"; }
.vu_fm-memory:before { content: "\e322"; }
.vu_fm-menu:before { content: "\e5d2"; }
.vu_fm-message:before { content: "\e0c9"; }
.vu_fm-mic:before { content: "\e029"; }
.vu_fm-mic_none:before { content: "\e02a"; }
.vu_fm-mic_off:before { content: "\e02b"; }
.vu_fm-mms:before { content: "\e618"; }
.vu_fm-mode_comment:before { content: "\e253"; }
.vu_fm-monetization_on:before { content: "\e263"; }
.vu_fm-money_off:before { content: "\e25c"; }
.vu_fm-monochrome_photos:before { content: "\e403"; }
.vu_fm-mood_bad:before { content: "\e7f3"; }
.vu_fm-more:before { content: "\e619"; }
.vu_fm-more_horiz:before { content: "\e5d3"; }
.vu_fm-more_vert:before { content: "\e5d4"; }
.vu_fm-motorcycle:before { content: "\e91b"; }
.vu_fm-mouse:before { content: "\e323"; }
.vu_fm-move_to_inbox:before { content: "\e168"; }
.vu_fm-movie_creation:before { content: "\e404"; }
.vu_fm-movie_filter:before { content: "\e43a"; }
.vu_fm-multiline_chart:before { content: "\e6df"; }
.vu_fm-music_note:before { content: "\e405"; }
.vu_fm-music_video:before { content: "\e063"; }
.vu_fm-nature:before { content: "\e406"; }
.vu_fm-nature_people:before { content: "\e407"; }
.vu_fm-navigation:before { content: "\e55d"; }
.vu_fm-near_me:before { content: "\e569"; }
.vu_fm-network_cell:before { content: "\e1b9"; }
.vu_fm-network_check:before { content: "\e640"; }
.vu_fm-network_locked:before { content: "\e61a"; }
.vu_fm-network_wifi:before { content: "\e1ba"; }
.vu_fm-new_releases:before { content: "\e031"; }
.vu_fm-next_week:before { content: "\e16a"; }
.vu_fm-nfc:before { content: "\e1bb"; }
.vu_fm-no_encryption:before { content: "\e641"; }
.vu_fm-signal_cellular_no_sim:before { content: "\e1ce"; }
.vu_fm-note:before { content: "\e06f"; }
.vu_fm-note_add:before { content: "\e89c"; }
.vu_fm-notifications:before { content: "\e7f4"; }
.vu_fm-notifications_active:before { content: "\e7f7"; }
.vu_fm-notifications_none:before { content: "\e7f5"; }
.vu_fm-notifications_off:before { content: "\e7f6"; }
.vu_fm-notifications_paused:before { content: "\e7f8"; }
.vu_fm-offline_pin:before { content: "\e90a"; }
.vu_fm-ondemand_video:before { content: "\e63a"; }
.vu_fm-opacity:before { content: "\e91c"; }
.vu_fm-open_in_browser:before { content: "\e89d"; }
.vu_fm-open_with:before { content: "\e89f"; }
.vu_fm-pages:before { content: "\e7f9"; }
.vu_fm-pageview:before { content: "\e8a0"; }
.vu_fm-pan_tool:before { content: "\e925"; }
.vu_fm-panorama:before { content: "\e40b"; }
.vu_fm-radio_button_unchecked:before { content: "\e836"; }
.vu_fm-panorama_horizontal:before { content: "\e40d"; }
.vu_fm-panorama_vertical:before { content: "\e40e"; }
.vu_fm-panorama_wide_angle:before { content: "\e40f"; }
.vu_fm-party_mode:before { content: "\e7fa"; }
.vu_fm-pause:before { content: "\e034"; }
.vu_fm-pause_circle_filled:before { content: "\e035"; }
.vu_fm-pause_circle_outline:before { content: "\e036"; }
.vu_fm-people_outline:before { content: "\e7fc"; }
.vu_fm-perm_camera_mic:before { content: "\e8a2"; }
.vu_fm-perm_contact_calendar:before { content: "\e8a3"; }
.vu_fm-perm_data_setting:before { content: "\e8a4"; }
.vu_fm-perm_device_information:before { content: "\e8a5"; }
.vu_fm-person_outline:before { content: "\e7ff"; }
.vu_fm-perm_media:before { content: "\e8a7"; }
.vu_fm-perm_phone_msg:before { content: "\e8a8"; }
.vu_fm-perm_scan_wifi:before { content: "\e8a9"; }
.vu_fm-person:before { content: "\e7fd"; }
.vu_fm-person_add:before { content: "\e7fe"; }
.vu_fm-person_pin:before { content: "\e55a"; }
.vu_fm-person_pin_circle:before { content: "\e56a"; }
.vu_fm-personal_video:before { content: "\e63b"; }
.vu_fm-pets:before { content: "\e91d"; }
.vu_fm-phone_android:before { content: "\e324"; }
.vu_fm-phone_bluetooth_speaker:before { content: "\e61b"; }
.vu_fm-phone_forwarded:before { content: "\e61c"; }
.vu_fm-phone_in_talk:before { content: "\e61d"; }
.vu_fm-phone_iphone:before { content: "\e325"; }
.vu_fm-phone_locked:before { content: "\e61e"; }
.vu_fm-phone_missed:before { content: "\e61f"; }
.vu_fm-phone_paused:before { content: "\e620"; }
.vu_fm-phonelink_erase:before { content: "\e0db"; }
.vu_fm-phonelink_lock:before { content: "\e0dc"; }
.vu_fm-phonelink_off:before { content: "\e327"; }
.vu_fm-phonelink_ring:before { content: "\e0dd"; }
.vu_fm-phonelink_setup:before { content: "\e0de"; }
.vu_fm-photo_album:before { content: "\e411"; }
.vu_fm-photo_filter:before { content: "\e43b"; }
.vu_fm-photo_size_select_actual:before { content: "\e432"; }
.vu_fm-photo_size_select_large:before { content: "\e433"; }
.vu_fm-photo_size_select_small:before { content: "\e434"; }
.vu_fm-picture_as_pdf:before { content: "\e415"; }
.vu_fm-picture_in_picture:before { content: "\e8aa"; }
.vu_fm-picture_in_picture_alt:before { content: "\e911"; }
.vu_fm-pie_chart:before { content: "\e6c4"; }
.vu_fm-pie_chart_outlined:before { content: "\e6c5"; }
.vu_fm-pin_drop:before { content: "\e55e"; }
.vu_fm-play_arrow:before { content: "\e037"; }
.vu_fm-play_circle_filled:before { content: "\e038"; }
.vu_fm-play_circle_outline:before { content: "\e039"; }
.vu_fm-play_for_work:before { content: "\e906"; }
.vu_fm-playlist_add:before { content: "\e03b"; }
.vu_fm-playlist_add_check:before { content: "\e065"; }
.vu_fm-playlist_play:before { content: "\e05f"; }
.vu_fm-plus_one:before { content: "\e800"; }
.vu_fm-polymer:before { content: "\e8ab"; }
.vu_fm-pool:before { content: "\eb48"; }
.vu_fm-portable_wifi_off:before { content: "\e0ce"; }
.vu_fm-portrait:before { content: "\e416"; }
.vu_fm-power:before { content: "\e63c"; }
.vu_fm-power_input:before { content: "\e336"; }
.vu_fm-power_settings_new:before { content: "\e8ac"; }
.vu_fm-pregnant_woman:before { content: "\e91e"; }
.vu_fm-present_to_all:before { content: "\e0df"; }
.vu_fm-priority_high:before { content: "\e645"; }
.vu_fm-public:before { content: "\e80b"; }
.vu_fm-publish:before { content: "\e255"; }
.vu_fm-queue_music:before { content: "\e03d"; }
.vu_fm-queue_play_next:before { content: "\e066"; }
.vu_fm-radio:before { content: "\e03e"; }
.vu_fm-radio_button_checked:before { content: "\e837"; }
.vu_fm-rate_review:before { content: "\e560"; }
.vu_fm-receipt:before { content: "\e8b0"; }
.vu_fm-recent_actors:before { content: "\e03f"; }
.vu_fm-record_voice_over:before { content: "\e91f"; }
.vu_fm-redo:before { content: "\e15a"; }
.vu_fm-refresh:before { content: "\e5d5"; }
.vu_fm-remove:before { content: "\e15b"; }
.vu_fm-remove_circle_outline:before { content: "\e15d"; }
.vu_fm-remove_from_queue:before { content: "\e067"; }
.vu_fm-visibility:before { content: "\e8f4"; }
.vu_fm-remove_shopping_cart:before { content: "\e928"; }
.vu_fm-reorder:before { content: "\e8fe"; }
.vu_fm-repeat:before { content: "\e040"; }
.vu_fm-repeat_one:before { content: "\e041"; }
.vu_fm-replay:before { content: "\e042"; }
.vu_fm-replay_10:before { content: "\e059"; }
.vu_fm-replay_30:before { content: "\e05a"; }
.vu_fm-replay_5:before { content: "\e05b"; }
.vu_fm-reply:before { content: "\e15e"; }
.vu_fm-reply_all:before { content: "\e15f"; }
.vu_fm-report:before { content: "\e160"; }
.vu_fm-warning:before { content: "\e002"; }
.vu_fm-restaurant:before { content: "\e56c"; }
.vu_fm-restore_page:before { content: "\e929"; }
.vu_fm-ring_volume:before { content: "\e0d1"; }
.vu_fm-room_service:before { content: "\eb49"; }
.vu_fm-rotate_90_degrees_ccw:before { content: "\e418"; }
.vu_fm-rotate_left:before { content: "\e419"; }
.vu_fm-rotate_right:before { content: "\e41a"; }
.vu_fm-rounded_corner:before { content: "\e920"; }
.vu_fm-router:before { content: "\e328"; }
.vu_fm-rowing:before { content: "\e921"; }
.vu_fm-rss_feed:before { content: "\e0e5"; }
.vu_fm-rv_hookup:before { content: "\e642"; }
.vu_fm-satellite:before { content: "\e562"; }
.vu_fm-save:before { content: "\e161"; }
.vu_fm-scanner:before { content: "\e329"; }
.vu_fm-school:before { content: "\e80c"; }
.vu_fm-screen_lock_landscape:before { content: "\e1be"; }
.vu_fm-screen_lock_portrait:before { content: "\e1bf"; }
.vu_fm-screen_lock_rotation:before { content: "\e1c0"; }
.vu_fm-screen_rotation:before { content: "\e1c1"; }
.vu_fm-screen_share:before { content: "\e0e2"; }
.vu_fm-sd_storage:before { content: "\e1c2"; }
.vu_fm-search:before { content: "\e8b6"; }
.vu_fm-security:before { content: "\e32a"; }
.vu_fm-select_all:before { content: "\e162"; }
.vu_fm-send:before { content: "\e163"; }
.vu_fm-sentiment_dissatisfied:before { content: "\e811"; }
.vu_fm-sentiment_neutral:before { content: "\e812"; }
.vu_fm-sentiment_satisfied:before { content: "\e813"; }
.vu_fm-sentiment_very_dissatisfied:before { content: "\e814"; }
.vu_fm-sentiment_very_satisfied:before { content: "\e815"; }
.vu_fm-settings:before { content: "\e8b8"; }
.vu_fm-settings_applications:before { content: "\e8b9"; }
.vu_fm-settings_backup_restore:before { content: "\e8ba"; }
.vu_fm-settings_bluetooth:before { content: "\e8bb"; }
.vu_fm-settings_brightness:before { content: "\e8bd"; }
.vu_fm-settings_cell:before { content: "\e8bc"; }
.vu_fm-settings_ethernet:before { content: "\e8be"; }
.vu_fm-settings_input_antenna:before { content: "\e8bf"; }
.vu_fm-settings_input_composite:before { content: "\e8c1"; }
.vu_fm-settings_input_hdmi:before { content: "\e8c2"; }
.vu_fm-settings_input_svideo:before { content: "\e8c3"; }
.vu_fm-settings_overscan:before { content: "\e8c4"; }
.vu_fm-settings_phone:before { content: "\e8c5"; }
.vu_fm-settings_power:before { content: "\e8c6"; }
.vu_fm-settings_remote:before { content: "\e8c7"; }
.vu_fm-settings_system_daydream:before { content: "\e1c3"; }
.vu_fm-settings_voice:before { content: "\e8c8"; }
.vu_fm-share:before { content: "\e80d"; }
.vu_fm-shop:before { content: "\e8c9"; }
.vu_fm-shop_two:before { content: "\e8ca"; }
.vu_fm-shopping_basket:before { content: "\e8cb"; }
.vu_fm-short_text:before { content: "\e261"; }
.vu_fm-show_chart:before { content: "\e6e1"; }
.vu_fm-shuffle:before { content: "\e043"; }
.vu_fm-signal_cellular_4_bar:before { content: "\e1c8"; }
.vu_fm-signal_cellular_connected_no_internet_4_bar:before { content: "\e1cd"; }
.vu_fm-signal_cellular_null:before { content: "\e1cf"; }
.vu_fm-signal_cellular_off:before { content: "\e1d0"; }
.vu_fm-signal_wifi_4_bar:before { content: "\e1d8"; }
.vu_fm-signal_wifi_4_bar_lock:before { content: "\e1d9"; }
.vu_fm-signal_wifi_off:before { content: "\e1da"; }
.vu_fm-sim_card:before { content: "\e32b"; }
.vu_fm-sim_card_alert:before { content: "\e624"; }
.vu_fm-skip_next:before { content: "\e044"; }
.vu_fm-skip_previous:before { content: "\e045"; }
.vu_fm-slideshow:before { content: "\e41b"; }
.vu_fm-slow_motion_video:before { content: "\e068"; }
.vu_fm-stay_primary_portrait:before { content: "\e0d6"; }
.vu_fm-smoke_free:before { content: "\eb4a"; }
.vu_fm-smoking_rooms:before { content: "\eb4b"; }
.vu_fm-textsms:before { content: "\e0d8"; }
.vu_fm-snooze:before { content: "\e046"; }
.vu_fm-sort:before { content: "\e164"; }
.vu_fm-sort_by_alpha:before { content: "\e053"; }
.vu_fm-spa:before { content: "\eb4c"; }
.vu_fm-space_bar:before { content: "\e256"; }
.vu_fm-speaker:before { content: "\e32d"; }
.vu_fm-speaker_group:before { content: "\e32e"; }
.vu_fm-speaker_notes:before { content: "\e8cd"; }
.vu_fm-speaker_notes_off:before { content: "\e92a"; }
.vu_fm-speaker_phone:before { content: "\e0d2"; }
.vu_fm-spellcheck:before { content: "\e8ce"; }
.vu_fm-star_border:before { content: "\e83a"; }
.vu_fm-star_half:before { content: "\e839"; }
.vu_fm-stars:before { content: "\e8d0"; }
.vu_fm-stay_primary_landscape:before { content: "\e0d5"; }
.vu_fm-stop:before { content: "\e047"; }
.vu_fm-stop_screen_share:before { content: "\e0e3"; }
.vu_fm-storage:before { content: "\e1db"; }
.vu_fm-store_mall_directory:before { content: "\e563"; }
.vu_fm-straighten:before { content: "\e41c"; }
.vu_fm-streetview:before { content: "\e56e"; }
.vu_fm-strikethrough_s:before { content: "\e257"; }
.vu_fm-style:before { content: "\e41d"; }
.vu_fm-subdirectory_arrow_left:before { content: "\e5d9"; }
.vu_fm-subdirectory_arrow_right:before { content: "\e5da"; }
.vu_fm-subject:before { content: "\e8d2"; }
.vu_fm-subscriptions:before { content: "\e064"; }
.vu_fm-subtitles:before { content: "\e048"; }
.vu_fm-subway:before { content: "\e56f"; }
.vu_fm-supervisor_account:before { content: "\e8d3"; }
.vu_fm-surround_sound:before { content: "\e049"; }
.vu_fm-swap_calls:before { content: "\e0d7"; }
.vu_fm-swap_horiz:before { content: "\e8d4"; }
.vu_fm-swap_vert:before { content: "\e8d5"; }
.vu_fm-swap_vertical_circle:before { content: "\e8d6"; }
.vu_fm-switch_camera:before { content: "\e41e"; }
.vu_fm-switch_video:before { content: "\e41f"; }
.vu_fm-sync_disabled:before { content: "\e628"; }
.vu_fm-sync_problem:before { content: "\e629"; }
.vu_fm-system_update:before { content: "\e62a"; }
.vu_fm-system_update_alt:before { content: "\e8d7"; }
.vu_fm-tab:before { content: "\e8d8"; }
.vu_fm-tab_unselected:before { content: "\e8d9"; }
.vu_fm-tablet:before { content: "\e32f"; }
.vu_fm-tablet_android:before { content: "\e330"; }
.vu_fm-tablet_mac:before { content: "\e331"; }
.vu_fm-tap_and_play:before { content: "\e62b"; }
.vu_fm-text_fields:before { content: "\e262"; }
.vu_fm-text_format:before { content: "\e165"; }
.vu_fm-texture:before { content: "\e421"; }
.vu_fm-thumb_down:before { content: "\e8db"; }
.vu_fm-thumb_up:before { content: "\e8dc"; }
.vu_fm-thumbs_up_down:before { content: "\e8dd"; }
.vu_fm-timelapse:before { content: "\e422"; }
.vu_fm-timeline:before { content: "\e922"; }
.vu_fm-timer:before { content: "\e425"; }
.vu_fm-timer_10:before { content: "\e423"; }
.vu_fm-timer_3:before { content: "\e424"; }
.vu_fm-timer_off:before { content: "\e426"; }
.vu_fm-title:before { content: "\e264"; }
.vu_fm-toc:before { content: "\e8de"; }
.vu_fm-today:before { content: "\e8df"; }
.vu_fm-toll:before { content: "\e8e0"; }
.vu_fm-tonality:before { content: "\e427"; }
.vu_fm-touch_app:before { content: "\e913"; }
.vu_fm-toys:before { content: "\e332"; }
.vu_fm-track_changes:before { content: "\e8e1"; }
.vu_fm-traffic:before { content: "\e565"; }
.vu_fm-train:before { content: "\e570"; }
.vu_fm-tram:before { content: "\e571"; }
.vu_fm-transfer_within_a_station:before { content: "\e572"; }
.vu_fm-transform:before { content: "\e428"; }
.vu_fm-translate:before { content: "\e8e2"; }
.vu_fm-trending_down:before { content: "\e8e3"; }
.vu_fm-trending_flat:before { content: "\e8e4"; }
.vu_fm-trending_up:before { content: "\e8e5"; }
.vu_fm-tune:before { content: "\e429"; }
.vu_fm-tv:before { content: "\e333"; }
.vu_fm-unarchive:before { content: "\e169"; }
.vu_fm-undo:before { content: "\e166"; }
.vu_fm-unfold_less:before { content: "\e5d6"; }
.vu_fm-unfold_more:before { content: "\e5d7"; }
.vu_fm-update:before { content: "\e923"; }
.vu_fm-usb:before { content: "\e1e0"; }
.vu_fm-verified_user:before { content: "\e8e8"; }
.vu_fm-vertical_align_bottom:before { content: "\e258"; }
.vu_fm-vertical_align_center:before { content: "\e259"; }
.vu_fm-vertical_align_top:before { content: "\e25a"; }
.vu_fm-vibration:before { content: "\e62d"; }
.vu_fm-video_call:before { content: "\e070"; }
.vu_fm-video_label:before { content: "\e071"; }
.vu_fm-video_library:before { content: "\e04a"; }
.vu_fm-videocam:before { content: "\e04b"; }
.vu_fm-videocam_off:before { content: "\e04c"; }
.vu_fm-videogame_asset:before { content: "\e338"; }
.vu_fm-view_agenda:before { content: "\e8e9"; }
.vu_fm-view_array:before { content: "\e8ea"; }
.vu_fm-view_carousel:before { content: "\e8eb"; }
.vu_fm-view_column:before { content: "\e8ec"; }
.vu_fm-view_comfy:before { content: "\e42a"; }
.vu_fm-view_compact:before { content: "\e42b"; }
.vu_fm-view_day:before { content: "\e8ed"; }
.vu_fm-view_headline:before { content: "\e8ee"; }
.vu_fm-view_list:before { content: "\e8ef"; }
.vu_fm-view_module:before { content: "\e8f0"; }
.vu_fm-view_quilt:before { content: "\e8f1"; }
.vu_fm-view_stream:before { content: "\e8f2"; }
.vu_fm-view_week:before { content: "\e8f3"; }
.vu_fm-vignette:before { content: "\e435"; }
.vu_fm-visibility_off:before { content: "\e8f5"; }
.vu_fm-voice_chat:before { content: "\e62e"; }
.vu_fm-voicemail:before { content: "\e0d9"; }
.vu_fm-volume_down:before { content: "\e04d"; }
.vu_fm-volume_mute:before { content: "\e04e"; }
.vu_fm-volume_off:before { content: "\e04f"; }
.vu_fm-volume_up:before { content: "\e050"; }
.vu_fm-vpn_key:before { content: "\e0da"; }
.vu_fm-vpn_lock:before { content: "\e62f"; }
.vu_fm-wallpaper:before { content: "\e1bc"; }
.vu_fm-watch:before { content: "\e334"; }
.vu_fm-watch_later:before { content: "\e924"; }
.vu_fm-wb_auto:before { content: "\e42c"; }
.vu_fm-wb_incandescent:before { content: "\e42e"; }
.vu_fm-wb_iridescent:before { content: "\e436"; }
.vu_fm-wb_sunny:before { content: "\e430"; }
.vu_fm-wc:before { content: "\e63d"; }
.vu_fm-web:before { content: "\e051"; }
.vu_fm-web_asset:before { content: "\e069"; }
.vu_fm-weekend:before { content: "\e16b"; }
.vu_fm-whatshot:before { content: "\e80e"; }
.vu_fm-widgets:before { content: "\e1bd"; }
.vu_fm-wifi:before { content: "\e63e"; }
.vu_fm-wifi_lock:before { content: "\e1e1"; }
.vu_fm-wifi_tethering:before { content: "\e1e2"; }
.vu_fm-work:before { content: "\e8f9"; }
.vu_fm-wrap_text:before { content: "\e25b"; }
.vu_fm-youtube_searched_for:before { content: "\e8fa"; }
.vu_fm-zoom_in:before { content: "\e8ff"; }
.vu_fm-zoom_out:before { content: "\e901"; }
.vu_fm-zoom_out_map:before { content: "\e56b"; }
